/* Copy and paste your CSS from CodePen into here */
/* default settings */
*  { 
  margin: 0; 
  padding: 0; 
  border: 0; 
}

body {
margin: 0 auto;
background-color: #1b0505;
box-sizing: border-box;
height: 100vh;
width: 100%;
}

#nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #a81815;
height: 4em;
width: 100%;
position: fixed;
border-top: 10px solid black;
border-bottom: 10px solid black;
z-index: 1; 
}

h1 {
color: rgb(248, 247, 246);
font-family: 'Road Rage', cursive;
font-size: 2.5em;
font-weight: 400;
word-spacing: 0.1em;
margin-left: 2em;
letter-spacing: 0.06px;
text-shadow: -2px 0 black, 0 4px black, 5px 0 black, 0 -2px black;
}

.button {
display: flex;
justify-content: center;
position: relative;
width: 250px;
font-weight: 300;
font-family: 'Road Rage', cursive;
color: rgb(248, 247, 246);
z-index: 1;
height: 4em;
margin-right: 60px;
text-align: center;
text-shadow: -2px 0 black, 0 4px black, 5px 0 black, 0 -2px black;
}

#movie-trailers {
display: block;
margin: auto;
position: absolute;
align-self: center;
justify-self: center;
margin: auto;
font-size: 2.1em;
}

.button:focus ul,
.button:focus-within ul,
.button:hover ul{
visibility: visible;
opacity: 1;
z-index: 1;
transform: translateY(0);
transition-delay: 0.3s, 0s, 0.4s;
}

ul {
visibility: hidden;
opacity: 0;
margin-top: 4em;
transition: all 0.2s ease 0.1s linear 0.2s, z-index 0s linear 0.1s;
}

li {
display: flex;
align-items: center;
justify-content: center;
height: 36px;
width: 210px;
font-size: 1px;
text-decoration: none;
border: 4.5px solid rgb(27, 24, 24);
border-left: 7px solid rgb(27, 24, 24);
border-right: 7px solid rgb(27, 24, 24);
border-radius: 6px;
text-shadow: -10px 0 black, 0 10px black, 14px 0 black, 0 -10px black;
margin: 0 0;
}

li a {
display: block;
align-items: center;
font-size: 18px;
font-family: 'Luckiest Guy', cursive;
text-decoration: none;
color: rgb(250, 243, 233);
text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

li a:hover {
transform: scale(1.08);
}

#movie-trailers:hover {
transform: scale(1.1);
}

#eyes-wide-shut {
background: #2d98a1;
border-top: 7.5px solid rgb(27, 24, 24);
}

#full-metal-jacket {
background: #416d3d;
}

#the-shining {
background: #b41b19;
}

#barry-lyndon {
background: #353131;
}

#a-clockwork-orange {
background: #f87a31;
}

#a-space-oddessy {
background: #544add;
}

#dr-stangelove {
background: #686868;
}

#lolita {
background: #f88ea9;
}

#paths-of-glory {
background: #b1e6eb;
}

#the-killing {
background: #e03e29;
}

#killers-kiss{
background: #f3eda0;
}

#fear-and-desire{
background: #e04040;
border-bottom: 7.5px solid rgb(27, 24, 24);

}

/* main content */

#main {
display: grid; 
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
grid-template-rows: 8% 43% 43%; 
gap: 30px 30px; 
grid-template-areas: 
  "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
  ". . . . . ."
  ". . . . . ."; 
justify-items: stretch;
width: 95%; 
min-height: 96vh; 
margin: auto;
justify-content: center;
}

.item {
position: relative;
justify-content: center;
align-content: center;
padding-top: 0px;
padding-bottom: 0px;
box-shadow: 6px 6px 3px 3px rgba(17, 15, 15, 0.924);
border-radius: 8px;
}

img {
display: block;
position: absolute;
height: 100%;
width: 100%;
object-fit: fill;
z-index: -1;
}

.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
border-radius: 10px;
}

.item-3 {
position: relative;
grid-column: 2 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
}

.item-4 {
position: relative;
grid-column: 3 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
}

.item-5 {
position: relative;
grid-column: 4 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
}

.item-6 {
position: relative;
grid-column: 5 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
}

.item-7 {
position: relative;
grid-column: 6 / span 1;
grid-row: 2 / span 1;
border: 5px solid black;
}

.item-8 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}

.item-9 {
position: relative;
grid-column: 2 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}

.item-10 {
position: relative;
grid-column: 3 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}

.item-11 {
position: relative;
grid-column: 4 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}

.item-12 {
position: relative;
grid-column: 5 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}
.item-13 {
position: relative;
grid-column: 6 / span 1;
grid-row: 3 / span 1;
border: 5px solid black;
}

/* overlay for items */

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.9);
color: white;
opacity: 0;
transition: opacity 0.35s;
border: 1.6px solid rgba(206, 197, 197, 0.411);
}

.overlay a{
font-family: 'Road Rage', cursive;
font-size: 22px;
text-shadow: -2px 0 black, 0 4px black, 5px 0 black, 0 -2px black;
text-decoration: none;
}

.overlay a:hover{
transform: scale(1.15);
text-shadow: -3px 0 black, 0 6px black, 7px 0 black, 0 -3px black;
}

.overlay > * {
transform: translateY(25px);
transition: transform 0.35s;
}

.overlay:hover {
opacity: 1;

}

.overlay:hover > * {
transform: translateY(0);
}

.item:hover {
transform: scale(1.04);
border-radius: 16px;
}

h3 {
position: absolute;
display: block;
margin: 1.2em 0 0.5em 1.7em;
color: #af1715;
font-family: 'Luckiest Guy', cursive;
font-size: 1.05em;
letter-spacing: 1px;
text-align: center;
text-shadow: -3px 0 black, 0 5px black, 6px 0 black, 0 -3px black;
}

p {
position: absolute;
display: block;
max-height: 65%;
margin: 60px 1.7em 40px 2.2em;
font-family: 'Roboto', sans-serif;
font-size: 0.9em;
overflow: hidden;

}

.view-trailer {
display: block;
position: absolute;
bottom: 18px;
left: 0;
float: left;
color: #e45c59;
margin-left: 30px;
}

.read-more {
display: block;
position: absolute;
bottom: 18px;
right: 0;
margin-right: 32px;
color: cadetblue;
}


/* Desktops and laptops ----------- */
@media only screen and (max-width : 1800px)  {

/* main content */

#main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
  grid-template-rows: 8% 42.5% 42.5% 42.5%; 
  gap: 34px 34px; 
  grid-template-areas: 
    "nav-bar nav-bar nav-bar nav-bar nav-bar"
    ". . . . . "
    ". . . . . "
    ". .       ";
     
  justify-items: stretch; 
  width: 86; 
  height: 97vh; 

 }

.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1

}

.item-3 {
position: relative;
grid-column: 2 / span 1;
grid-row: 2 / span 1
}

.item-4 {
position: relative;
grid-column: 3 / span 1;
grid-row: 2 / span 1
}

.item-5 {
position: relative;
grid-column: 4 / span 1;
grid-row: 2 / span 1
}

.item-6 {
position: relative;
grid-column: 5 / span 1;
grid-row: 2 / span 1
}

.item-7 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1
}

.item-8 {
position: relative;
grid-column: 2 / span 1;
grid-row: 3 / span 1
}

.item-9 {
position: relative;
grid-column: 3 / span 1;
grid-row: 3 / span 1
}

.item-10 {
position: relative;
grid-column: 4 / span 1;
grid-row: 3 / span 1
}

.item-11 {
position: relative;
grid-column: 5 / span 1;
grid-row: 3 / span 1
}

.item-12 {
position: relative;
grid-column: 1 / span 1;
grid-row: 4 / span 1
}
.item-13 {
position: relative;
grid-column: 2 / span 1;
grid-row: 4 / span 1
}

}

@media only screen and (max-width : 1450px)  {


  /* main content */

#main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 8% 43% 43% 43% 43%; 
  gap: 34px 34px; 
  grid-template-areas: 
    "nav-bar nav-bar nav-bar nav-bar"
    ". . . . "
    ". . . . "
    ". . . . "
    ". . . . ";
     
  justify-items: stretch; 
  width: 86vw; 
  height: 97vh; 
}

.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1

}

.item-3 {
position: relative;
grid-column: 2 / span 1;
grid-row: 2 / span 1
}

.item-4 {
position: relative;
grid-column: 3 / span 1;
grid-row: 2 / span 1
}

.item-5 {
position: relative;
grid-column: 4 / span 1;
grid-row: 2 / span 1
}

.item-6 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1
}

.item-7 {
position: relative;
grid-column: 2 / span 1;
grid-row: 3 / span 1
}

.item-8 {
position: relative;
grid-column: 3 / span 1;
grid-row: 3 / span 1
}

.item-9 {
position: relative;
grid-column: 4 / span 1;
grid-row: 3 / span 1
}

.item-10 {
position: relative;
grid-column: 1 / span 1;
grid-row: 4 / span 1
}

.item-11 {
position: relative;
grid-column: 2 / span 1;
grid-row: 4 / span 1
}

.item-12 {
position: relative;
grid-column: 3 / span 1;
grid-row: 4 / span 1
}
.item-13 {
position: relative;
grid-column: 4 / span 1;
grid-row: 4 / span 1
} 

}

@media only screen and (max-width : 1250px) {


  /* main content */

#main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 8% 45% 45% 45% 45%; 
  gap: 34px 34px; 
  grid-template-areas: 
    "nav-bar nav-bar nav-bar"
    ". . ."
    ". . ."
    ". . ."
    ". . .";
     
  justify-items: stretch; 
  width: 86vw; 
  height: 92vh; 
 }


.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1

}

.item-3 {
position: relative;
grid-column: 2 / span 1;
grid-row: 2 / span 1
}

.item-4 {
position: relative;
grid-column: 3 / span 1;
grid-row: 2 / span 1
}

.item-5 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1
}

.item-6 {
position: relative;
grid-column: 2 / span 1;
grid-row: 3 / span 1
}

.item-7 {
position: relative;
grid-column: 3 / span 1;
grid-row: 3 / span 1
}

.item-8 {
position: relative;
grid-column: 1 / span 1;
grid-row: 4 / span 1
}

.item-9 {
position: relative;
grid-column: 2 / span 1;
grid-row: 4 / span 1
}

.item-10 {
position: relative;
grid-column: 3 / span 1;
grid-row: 4 / span 1
}

.item-11 {
position: relative;
grid-column: 1 / span 1;
grid-row: 5 / span 1
}

.item-12 {
position: relative;
grid-column: 2 / span 1;
grid-row: 5 / span 1
}
.item-13 {
position: relative;
grid-column: 3 / span 1;
grid-row: 5 / span 1
}

/* nav items */

h1 {
font-size: 2.2em;
}

#movie-trailers {
font-size: 1.8em;
}

/* overlay items */

h3 { 
font-size: 0.95em;
}


}

@media only screen and (max-width : 900px) {


  /* main content */

#main {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 8% 45% 45% 45% 45% 45% 45%; 
  gap: 38px 38px; 
  grid-template-areas: 
    "nav-bar nav-bar"
    ". . "
    ". . "
    ". . "
    ". . "
    ". . "
    ". . ";
     
  justify-items: stretch; 
  width: 78vw; 
  height: 92vh;
  margin: auto; 
 }


.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1

}

.item-3 {
position: relative;
grid-column: 2 / span 1;
grid-row: 2 / span 1
}

.item-4 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1
}

.item-5 {
position: relative;
grid-column: 2 / span 1;
grid-row: 3 / span 1
}

.item-6 {
position: relative;
grid-column: 1 / span 1;
grid-row: 4 / span 1
}

.item-7 {
position: relative;
grid-column: 2 / span 1;
grid-row: 4 / span 1
}

.item-8 {
position: relative;
grid-column: 1 / span 1;
grid-row: 5 / span 1
}

.item-9 {
position: relative;
grid-column: 2 / span 1;
grid-row: 5 / span 1
}

.item-10 {
position: relative;
grid-column: 1 / span 1;
grid-row: 6 / span 1
}

.item-11 {
position: relative;
grid-column: 2 / span 1;
grid-row: 6 / span 1
}

.item-12 {
position: relative;
grid-column: 1 / span 1;
grid-row: 7 / span 1
}
.item-13 {
position: relative;
grid-column: 2 / span 1;
grid-row: 7 / span 1
}

/* nav items */

h1 {
font-size: 1.8em;
margin-left: 1.1em;
}

.button {
margin-right: 3.3em;
width: 9em;
}

#movie-trailers {
font-size: 1.5em;
}


}

@media only screen and (max-width : 600px) {


  /* main content */

#main {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 8% 60% 60% 60% 60% 60% 60% 60% 60% 60% 60% 60% 60%;

  grid-gap: 30px 30px; 
  grid-template-areas: 
    "nav-bar"
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    ".";
     
  justify-items: stretch; 
  width: 80vw; 
  height: 92vh;
 }

#nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #a81815;
height: 48px;
width: 100%;
position: fixed;
border-top: 10px solid black;
border-bottom: 10px solid black;
z-index: 3;
}

.item-2 {
position: relative;
grid-column: 1 / span 1;
grid-row: 2 / span 1

}

.item-3 {
position: relative;
grid-column: 1 / span 1;
grid-row: 3 / span 1
}

.item-4 {
position: relative;
grid-column: 1 / span 1;
grid-row: 4 / span 1
}

.item-5 {
position: relative;
grid-column: 1 / span 1;
grid-row: 5 / span 1
}

.item-6 {
position: relative;
grid-column: 1 / span 1;
grid-row: 6 / span 1
}

.item-7 {
position: relative;
grid-column: 1 / span 1;
grid-row: 7 / span 1
}

.item-8 {
position: relative;
grid-column: 1 / span 1;
grid-row: 8 / span 1
}

.item-9 {
position: relative;
grid-column: 1 / span 1;
grid-row: 9 / span 1
}

.item-10 {
position: relative;
grid-column: 1 / span 1;
grid-row: 10 / span 1
}

.item-11 {
position: relative;
grid-column: 1 / span 1;
grid-row: 11 / span 1
}

.item-12 {
position: relative;
grid-column: 1 / span 1;
grid-row: 12 / span 1
}
.item-13 {
position: relative;
grid-column: 1 / span 1;
grid-row: 13 / span 1
} 

/* nav items */

h1 { 
font-size: 1.4em;
margin: 0 auto;
}

.button  {
display: none;
}

}

@media only screen and (max-width : 500px){

/* overlay items */

h3 {
font-size: 1.22em;
}

p {
font-size: 1.15em;
padding-top: 18px;
}

}

@media only screen and (max-width : 400px){

/* overlay items */

h3 {
  font-size: 1.16em;  
}

p {
font-size: 1.07em;
}

}

@media only screen and (max-width : 350px){

/* overlay items */

p {
  font-size: 1em;  
}

}